.detailResults {
  background-color: gray;
  color: var(--main-black);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 2rem;
}

.section__1 {
  composes: section;
  display: flex;
  justify-content: space-evenly;
  height: 44rem;
  background-color: var(--main-black);
  color: var(--beigeWhite);
  width: 100%;
  padding: 0 4rem;
}

.movieTitle {
  font-size: 4rem;
}

.section__1 article {
  padding: 0.4rem 0;
  margin-top: 1rem;
}

.section__1 article h3 {
  color: var(--orange);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.section__1 article p {
  font-size: 1.8rem;
}

.section__2 {
  composes: section;

  font-size: 1.4rem;
}

.posterBox {
  height: 40rem;
  width: 28rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posterBox img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0.5rem;
}

.ratingBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 12rem;
}

.ratingBox div {
  background-color: var(--main-black);
  color: var(--orange);
  width: 16rem;
  text-align: center;
  height: 100%;
  display: grid;
  padding: 2rem;
  grid-template-rows: 2fr 1fr;
  margin-right: 2rem;
}

.ratingBox p:nth-child(1) {
  font-size: 3rem;
}
.ratingBox p:last-child {
  font-size: 1.2rem;
  color: var(--beigeWhite);
}

.section__2 h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 2rem;
}

.storyLine {
  background-color: white;
  padding: 2rem;
  height: 20rem;
  line-height: 1.5;
}

.recommendBox,
.castBox {
  background-color: var(--main-black);
  color: var(--orange);
  margin-top: 1rem;
  padding-top: 1rem;
  height: 42rem;
}

.row {
  height: 32rem;
}

.videoBox {
  width: 40rem;
  height: 20rem;
}
