.poster {
  width: 21rem;
  height: 100%;
  position: relative;
  flex-wrap: 1;
  margin: 0 0.6rem;
  cursor: pointer;
  background-color: rgba(41, 41, 41, 0.349);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.poster p {
  text-align: center;
}

.poster .imgBox {
  background: url('./green.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.poster img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  border-radius: 0.7rem;
  box-shadow: 0 0 29px 3px var(--main-black);
  transition: transform 0.3s ease;
}

.poster img:hover {
  transform: scale(1.12);
}

.smallPoster {
  composes: poster;
  width: 20rem;
}

.smallPoster .imgBox {
  background-position: center center;
  background-size: cover;
  background: url('./green.jpg');
  height: 11.5rem;
  width: 20rem;
  position: relative;
  margin-bottom: 0.3rem;
}

.smallPoster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.smallPoster p {
  color: white;
  font-size: 1.6rem;
}
