.poster {
  width: 20rem;
  height: 100%;
  position: relative;
  flex-wrap: 1;
  margin: 0 0.6rem;
}

.poster img {
  position: absolute;
  background-position: center center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0.7rem;
  box-shadow: 0 0 29px 3px var(--main-black);
  transition: transform 0.3s ease;
}

.poster img:hover {
  transform: scale(1.12);
}

.smallPoster {
  composes: poster;
  background: yellowgreen;
  width: 20rem;
}

.smallPoster img {
  width: 20rem;
  height: 13rem;
  object-fit: cover;
}

.smallPoster p {
  color: white;
  font-size: 1.6rem;

  position: absolute;
  bottom: -30%;
}
