.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-black);
  width: 100%;
  padding: 2rem 0;
}

.buttonBox button {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--main-black);
  margin: 0 0.3rem;
}
