@import-normalize;
@import '../../Resets/normalize.css';
@import '../../Resets/reset.css';
@import '../../Resets/typography.css';
@import '../../Helpers/colors.css';

body {
  background: linear-gradient(black, var(--main-black));
  padding-top: 7rem;
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
  body,
  html {
    font-size: 0.85vw;
  }
}
