.nav {
  height: 7rem;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--beigeWhite);

  font-size: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.sticky {
  composes: nav;
  background-color: var(--main-black);
}

.sticky::after {
  content: '';
  display: block;
  height: 8rem;
}

.logo {
  font-size: 5rem;
}

.main__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
}
.nav__link {
  color: var(--orange);
  position: relative;
  margin-left: 6rem;
  padding: 1rem;
  height: 90%;
  transition: all 0.2s ease;
  width: var(--nav-link-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav__link:hover span,
.nav__link:focus-within span {
  font-size: 1.8rem;
  color: var(--main-black);
}

.nav__link:hover,
.nav__link:focus-within {
  background-color: var(--orange);
}

.nav__link:hover > ul,
.nav__link:focus-within > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav__element {
  margin-right: 4rem;
}
