.container {
  position: absolute;
  width: 960px;
  z-index: 100;
}

.container::after {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.container iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 200px;
  min-height: 200px;
  background: transparent;
  border: none;
  box-shadow: 0 0 120px 90px rgba(99, 99, 99, 0.733);
}

.hidden {
  display: none;
}

.exitBtn {
  position: absolute;
  right: 1.4rem;
  top: 1.2rem;
  transform: rotate(90);
  background: rgb(122, 15, 42);
  font-size: 3rem;
  z-index: 101;
  border-radius: 8px;
  width: 6.2rem;
  height: 6.2rem;
}

.exitBtn:active,
.exitBtn:hover {
  background: crimson;
}
