.paginator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.paginator h2 {
  /* align-self: flex-start; */
  font-size: 2rem;
}

.row {
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  height: 100%;
}

.pageBtn {
  background: none;
  border: none;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pageBtn:hover,
.pageBtn:active {
  background: none;
  transform: translateY(-50%);
}

.leftBtn {
  composes: pageBtn;
  left: -4rem;
}

.rightBtn {
  composes: pageBtn;
  right: -4rem;
}
